flex-version = flex
support-for-ie = false
vendor-prefixes = official
@import 'nib'

/* Variables */

f-primary = "Montserrat"
c-primary = #4a0594
c-purple = #5a39a7
c-orange = #ffaa30

body
  background-color #ffffff
  font-family f-primary
  font-weight 400
  padding 28px 0 70px

a
  text-decoration none
  &:hover
    text-decoration none

button
  outline none

.container
  max-width 1328px
  width 100%
  margin 0 auto

.row
  display flex
  justify-content flex-start
  flex-wrap wrap
  margin 0 -3px 0 -2px

.title
  font-weight 600
  font-size 24px
  line-height 32px
  margin 28px 0 27px 0
  text-align center

.b-tabs
  background-color #F2F3F7
  border-radius 4px
  box-sizing border-box
  padding 4px
  width 100%
  &__links
    background-color #fff
    border-radius 4px
    display flex
    flex-wrap wrap
    margin-bottom 4px
    +below(624px)
      flex-direction column
    &-item
      background-color #FFFFFF
      border-radius 4px
      box-sizing border-box
      display flex
      align-items center
      cursor pointer
      height 56px
      transition all 0.3s ease
      padding 0 15px
      +below(768px)
        font-size 14px
        height 46px
      +below(624px)
        justify-content center
      &_active
        background-color #FF6F23
        color white
        text-shadow 0 0 1px #fff, 0 0 1px #fff
        &:hover
          background-color #FF6F23 !important
      &:hover
        background rgba(211, 84, 0, 0.15)
  &__contents
    &-item
      display none
      &_active
        display flex

.b-stageTabs
  width 100%
  &__links
    display flex
    overflow auto
    &-item
      box-sizing border-box
      color rgba(0, 0, 0, 0.54)
      cursor pointer
      display flex
      align-items center
      line-height 24px
      transition all 0.3s ease
      padding 0 16px
      height 56px
      position relative
      flex 0 0 auto
      &:hover
        text-shadow 0 0 1px rgba(0, 0, 0, 0.54), 0 0 1px rgba(0, 0, 0, 0.54)
      &_active
        color rgba(0, 0, 0, 0.87)
        text-shadow 0 0 1px rgba(0, 0, 0, 0.87), 0 0 1px rgba(0, 0, 0, 0.87)
        &:before
          width 100% !important
      &:before
        content ''
        background-color #FF6F23
        border-radius 3px
        size 0% 3px
        absolute bottom 0 left 0
        transition width 1s cubic-bezier(0.19, 1, 0.22, 1)
  &__contents
    &-item
      display none
      &_active
        display flex
        flex-wrap wrap

.b-info
  background-color #FFFFFF
  border-radius 4px
  width 100%
  display flex
  +below(640px)
    flex-wrap wrap
  &__item
    box-sizing border-box
    color rgba(0, 0, 0, 0.54)
    display flex
    align-items center
    font-size 14px
    font-weight 500
    line-height 24px
    height 56px
    padding 0 16px
    +below(1024px)
      width 100%
      height 46px
    &:before
      background-color #eee
      border-radius 100px
      content ''
      size 16px
      display flex
      margin-right 8px
      flex 0 0 auto
    &_green
      &:before
        background-color #28C281
    &_orange
      &:before
        background-color #FF6F23
    &_red
      &:before
        background-color #D30000

.b-content
  width 100%
  &__row
    display flex
    flex-wrap wrap
    margin 0 -2px
  &__item
    box-sizing border-box
    width 50%
    padding 0 2px
    +below(1024px)
      width 100%

.b-table
  width 100%
  font-size 14px
  &__title
    color rgba(0, 0, 0, 0.87)
    font-weight 600
    +below(505px)
      width 40%
  &__tr
    background-color #FFFFFF
    border-radius 4px
    box-sizing border-box
    display flex
    justify-content space-between
    align-items center
    size 100% 56px
    margin-top 4px
    padding 0 10px 0 16px
    +below(425px)
      padding 0 8px

.b-table-info
  background-color #F2F3F7
  border-radius 100px
  display flex
  +below(505px)
    width 60%
    overflow auto
  &__item
    display flex
    align-items center
    justify-content center
    size 56px 32px
    font-weight 600
    +below(1100px)
      width 50px
    +below(1024px)
      width 56px
    +below(600px)
      width 46px
    +below(505px)
      width 100%

.b-team
  position relative
  cursor pointer
  &:before
    content ''
    size 100%
    transition box-shadow ease 0.3s
    absolute top 0 right 0
    z-index 2
    box-shadow 0 8px 24px rgba(0, 48, 91, 0.12);
    opacity 0
  &:hover:before
    opacity 1
    transition opacity 0.3s ease
  &:nth-child(2)
    .b-team__pos
      background-color #28C281
  &:nth-child(3)
    .b-team__pos
      background-color #FF6F23
  &:nth-child(4)
    .b-team__pos
      background-color #D30000
  &__left
    display flex
    align-items center
    flex 1
    +below(505px)
      width 40%
      overflow auto
  &__left, &__right
    position relative
    z-index 5
  &__pos
    background-color #c1c1c1
    border-radius 100px
    color #fff
    display flex
    flex 0 0 auto
    align-items center
    justify-content center
    size 24px
    margin-right 32px
    +below(600px)
      margin-right 22px
    +below(425px)
      margin-right 10px
  &__info
    display flex
    align-items center
  &__img
    width 24px
    max-height 24px
    margin-right 8px
  &__right
    display flex
    +below(505px)
      width 60%
      overflow auto
    &-item
      display flex
      align-items center
      justify-content center
      size 56px
      font-weight 500
      +below(1100px)
        width 50px
      +below(1024px)
        width 56px
      +below(600px)
        width 46px
      +below(505px)
        width 100%

.b-more
  background-color #FF6F23
  color rgba(255, 255, 255, 0.6)
  border-radius 4px
  cursor pointer
  font-size 14px
  font-weight 600
  line-height 20px
  letter-spacing 0.5px
  size 100% 56px
  display flex
  align-items center
  justify-content center
  margin-top 4px
  transition all 0.3s ease
  &:hover
    color #fff